<head>
    <title>Disc Golf Scorecard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/dash.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Join Game</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/dashboard">Home</a>
                    </li>
                    <li>
                        <a href="/logout">
                            <span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-12" align="center">
                <br>
                <br>
                <i class="fa fa-user-circle-o" style="font-size:60px;color:#00cec9"></i>
                <br>
                <h2>{{this.user.firstname}}</h2>

                <br>
                <br>
                <h4 class="sm-heading">Please enter Game ID</h4>
            </div>
        </div>

        <!--Input Form Section-->
        <div class="row">
            <div class="col-xs-0 col-lg-4"></div>
            <div class="col-xs-12 col-lg-4" align="center">
                <form action="api/game/join" method="GET" class="retrieve-form">
                    <div class="form-group">
                        <input type="text" class="box" id="ca" placeholder="Game ID" name="join_id">
                    </div>
                    <button class="btn btn-default btn-lg" id="btn-Join-Game" type="submit">Join</button>
                </form>
            </div>
            <div class="col-xs-0 col-lg-4"></div>
        </div>
    </div>
    <footer>
        <div class="footer"><h5>&copy Copyright Score Keeper 2018</h5></div>
    </footer>



    <script type="text/javascript">