<!DOCTYPE html>
<html>
  <head>
		<title>Log In</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	</head>
  <body>
    <div id="video-section">
      <video autoplay loop id="video-background" muted plays-inline>
        <source src="assets/images/Video-2-Trim.mp4" type="video/mp4">
      </video>
    </div>  
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
              </button>
              <a class="navbar-brand" href="#">disc-golf-scorecard</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                  <li><a href="signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
          </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-xs-0 col-lg-4"></div>
        <div class="col-xs-12 col-lg-4">
          <div class="user-login" align="center">
            <h2>Log In</h2>
            <form id="signin" name="signin" method="post" action="signin">
              <label for="email">Email Address</label>
              <br>
              <input class="box" name="email" type="text" placeholder="Email"/>
              <br>
              <label for="password">Password</label>
              <br>
              <input name="password" type="password" class="box" placeholder="Password"/>
              <br>
              <input class="btn btn-default" id="sign-in" type="submit" value="Sign In" />
            </form>
          </div>
        </div>
        <div class="col-xs-0 col-lg-4"></div>
      </div>
    </div>
    <footer>
      <div class="footer"><h5>&copy Copyright disc-golf-scorecard 2018</h5></div>
    </footer>
  </body>
</html>